CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++26
    - -ferror-limit=0
  Remove: [-W*]

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build

InlayHints:
  Enabled: false
